<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<% if(error[0]) {%>
    <h2><%= error[0] %></h2>
<%}%>
<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input id="email" class="text" name="email" type="text" />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" />

    <input class="btn" type="submit" value="Sign In" />
</form>

</body>

</html>